/* Root Variables */
:root {
  --primary: #00adb5;
  --background: #222831;
  --text: #eeeeee;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-weight: bold;
  font-size: clamp(2.3vw, 92px, 6vw);
  margin-top: 60px;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--text);
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

h3,
h4 {
  font-weight: bold;
  margin-top: 60px;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
}

p {
  font-size: clamp(0.9rem, 1.1vw, 1.3rem);
}

/* Section Styling */
section {
  padding: 20px;
  min-height: 100vh;
}

/* Button Styling */
button {
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: darken(var(--primary), 10%);
}

#about {
  background-color: #56dcee59; /* light blue color */
  width: 150%;
  box-sizing: border-box;
  color: white;
}

* .accent {
  font-size: clamp(2.3vw, 92px, 6vw);
  color: var(--primary); /* Using the primary color variable defined earlier */
}

.title-container h2 {
  display: inline-block; /* Makes the h2 inline-block */
  margin: 0; /* Removes default margin */
}

.title-container p {
  display: inline; /* Makes the p element inline */
  margin: 0; /* Removes default margin */
}
